<%- include('partials/_head.ejs') %>

<%- include('partials/_navigation.ejs') %>
<section>
	<main>
		<div class="door">
		</div>
		<% if(thief){ %>
			<img src="<%= thief.imagePath %>" alt="">
		<% } %>
		</main>
			<% if(thief){ %>
				<form action="/logout" method="POST" style="margin-top:1em;">
					<h1>Hello <%= thief.name %></h1>
					<button>Quit your vault</button>
				</form>
			<% } %>

			<% if(!thief){ %>
				<form action="/login" method="POST" style="margin-top:1em;">
					<input type="text" placeholder="Enter your email" name="email">
					<input type="password" placeholder="Enter your password" name="password">
					<button>Check your vault</button>
				</form>
			<% } %>
		</section>
	<section>
	</section>
	</body>

	</html>
